* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

nav {
    background-color: white;
    color: black;
}

nav .brand-logo {
    color: black;
}

nav ul a {
    color: black;
}

#editor {
    height: 100%;
    width: 100%;
}

.main-panel {
    display: flex;
    height: calc(100% - 64px);
    width: 100%;
}

.editor-panel, .execution-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.code-enonce-panel, .execution-control-panel, .execution-output-panel, .execution-log-panel {
    height: 50%;
    overflow: auto;
    padding: 10px;
}

.code-enonce-panel {
    
}

.execution-control-panel {
    flex:1;
    
}

.execution-log-panel {
    flex:1;
    display: flex;
    flex-direction: column;
}

.resizer-horizontal, .resizer-vertical {
    background-color: gray;
    position: absolute;
    z-index: 1;
}

.resizer-horizontal {
    cursor: row-resize;
    height: 5px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.resizer-vertical {
    cursor: col-resize;
    height: calc(100% - 64px);
    top: 64px;
    width: 5px;
}


.execution-panel {
    flex: 1;
}


/* Slider from https://codepen.io/noahblon/pen/OyajvN */

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15%;
    width: 80%;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -200px 0 0 200px dodgerblue; /* 2 */
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px!important;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff!important;
    height: 40px!important;
    width: 20px!important;
    border: 3px solid #999!important;
    border-radius: 0 !important;
    box-shadow: -800px 0 0 800px dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff!important;
    border: 2px solid #999!important;
    height: 40px!important;
    width: 20px!important;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd!important;
    color: transparent!important;
    height: 40px!important;
    border: none!important;
}

::-ms-tooltip { 
    display: none;
}

input[type="range"] + .thumb {
    background-color: dodgerblue;
    position: relative;
    color: black;
    display: inline-block;
}

#microworld-control {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex: 1;
}

.control-speed-container {
    width: 25%;
    flex-basis: 20%;
    margin-left: 2%; 
}

.control-speed-range {
  --ticksThickness: 2px;
  --ticksHeight: 20%;
  --ticksColor: silver;
  
  display: inline-block;
  background: silver;
  background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
  background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - 7px) var(--ticksHeight);
  background-position: 7px bottom;
  position: relative;
}

#control-speed {
    width: 100%;
}

.control-slider-container {
    width: 50%;
    flex-basis: 60%;
    flex-grow: 1;
    margin-right: 8%;
}

.control-slider-range {
    --ticksThickness: 2px;
    --ticksHeight: 20%;
    --ticksColor: silver;
    --step:1; 
    --min:1; 
    
    display: inline-block;
    width : 100%;
    background: silver;
    background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
    background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - 7px) var(--ticksHeight);
    background-position: 7px bottom;
    position: relative;
  }

#control-slider {
    width: 100%;
}

#microworld {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}



#microworld-output {
    flex: 10;
    height: 0%;
    width: 100%;
}


svg {
    height: 100%;
    width: 100%;
}


.log-textarea {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.execution-button-subpanel{
    flex: 1;
    padding: 3%;
    background-color: #d7d7d7;
    margin: 2% 3% 0 3%;
    border-radius: 25px;
}

.execution-log-subpanel{
    height: inherit;
    width: inherit;
    flex: 1;
    padding: 3%;
    background-color: #d7d7d7;
    margin: 2% 3% 0 3%;
    border-radius: 25px;
}


