<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PLM Reloaded</title>
    <link rel="stylesheet" href="/assets/materialize/materialize.min.css">
    <link rel="stylesheet" href="/assets/materialize/icons.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div id="modalinstr" class="modal">
        <div class="modal-content">
            {{ world_helper|safe }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <ul id="dropdownlang" class="dropdown-content">
        <li><a href="/problem/python/{{ world }}/{{ exercice }}">Python</a></li>
        <li><a href="/problem/c/{{ world }}/{{ exercice }}">C</a></li>
        <li><a href="/problem/java/{{ world }}/{{ exercice }}">Java</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">PLM Reloaded : {{ world }} - {{ exercice }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Exercices</a></li>
                <li><a class="modal-trigger" href="#modalinstr">Consigne</a></li>
                <li><a href="#">Implémentation</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdownlang">Langage<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>

    </nav>

    <div class="main-panel">
        <div class="editor-panel" style="width: 50%;">
            <div class="code-enonce-panel">
                Voici un énoncé
            </div>
            <div class="resizer-horizontal"></div>
            <div class="execution-control-panel">
                <div id="editor">for i in range(5):
    backward()
    forward()
                </div>
            </div>
        </div>
        <div class="resizer-vertical" style="left: 50%;"></div>
        <div class="execution-panel">
            <div class="execution-output-panel">
                <div id="microworld" class="micro-worlds">
                    <div class="microworld-output" id="microworld-output"></div>
                    <div class="microworld-control" id="microworld-control">
                        <div class="control-slider-container">
                            <div class="control-slider-range" style="--max:2;--step:1">
                                <label for="control-slider">History</label>
                                <input type="range" class="control-slider" id="control-slider" min="1" max="1" />
                            </div>
                        </div>
                        <a class="control-play-pause" id="control-play-pause" class="btn-floating waves-effect waves-light btn right">
                            <i class="material-icons left">pause</i></a>
                        <!-- Select for speed -->
                        <div class="control-speed-container">
                            <div class="control-speed-range" style="--step:1; --min:1; --max:3">
                                <label for="control-speed">Speed</label>
                                <input type="range" class="control-speed" id="control-speed" min="1" max="3" value="2"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resizer-horizontal"></div>
            <div class="execution-log-panel">
                <div class="execution-button-subpanel">
                    <ul class="collection">
                        <li class="collection-item">
                            <div>Go Up and Down
                                <a id="run-btn" href="#" class="secondary-content"><i class="material-icons">play_arrow</i></a>
                                <a id="stop-btn" href="#" class="secondary-content"><i class="material-icons">stop</i></a>
                            </div>
                        </li>
                        <li class="collection-item"><div>Another Test case<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                        <li class="collection-item"><div>Final<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                    </ul>
                </div>
                <div class="execution-log-subpanel">
                    <p class="log-textarea" id="log-textarea"></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/materialize/materialize.min.js"></script>
    <script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/problem_init.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/xcode");
        editor.session.setMode("ace/mode/{{ lang }}");

        const lang = "{{ lang }}";
        const world = "{{ world }}";
        const exercice = "{{ exercice }}";
        const websocket = new WebSocket("ws://localhost:8000/websocket?lang={{ lang }}&world={{ world }}&exercice={{ exercice }}");
    </script>
    <script src="/assets/websocket_handler.js"></script>
</body>